body {
	margin: auto 0;
	font-family: Arial;
}

.container {

	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(20px, auto)
}

.zone {
	transition: all 0.3s linear;
}

.zone:hover {
	cursor: pointer;
	box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_nav {
	display: flex;
	font-size: 1.1em;
	margin: 0;
	list-style: none;
}

.green li {
	padding: 20px;
}

.green .push {
	padding-right: 50px;
}

.push {
	margin-left: auto;
}

.green li a {
	color: white;
	text-decoration: none;
}

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-size: 1.1em;
}

.cover_img {
	width: 30rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 10px;
}

.grid img {
	width: 100%
}

.image_container {
	background: white;
	margin: 20px;
	padding: 80px;
	border-radius: 10px;
}

.image_container:hover {
	transform: rotate(4deg);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	padding: 10px;
	color: white;
}

.green {
	background: #044F7B;
}

.blue {
	background: white;
}

.gray {
	background: #168ACE;
}

.lightgreen {
	background: #00466F;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}